.header{
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 174, 255);
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.linkMenu{
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
}

body{
    background-color: rgb(227, 253, 253);
    margin: 20px;
}
img{
    border-radius: 10%;
    border: 2px solid ;
}
h2{
    text-align: center;
    padding: 10px;
}
.col{
    display: flex;
}
.col1{
    width: 50%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #949494;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  footer{
    margin-top: 50px;
    padding: 50px;
    background-color: black;
    color: white;
  }